In [1]:
import pandas as pd

In [2]:
# pip install pandas

In [3]:
# pip install polars

In [4]:
# pip install numpy

In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
movie = pd.read_csv('tmdb_5000_movies.csv')

In [8]:
credits = pd.read_csv('tmdb_5000_credits.csv')

In [9]:
# movie.columns

In [10]:
# movie.plot()

In [11]:
# pip install matplotlib

In [12]:
# pip install seaborn

In [13]:
# clear

In [14]:
# movie.plot(kind='bar')

In [15]:
# movie.plot(kind='hist')

In [16]:
# movie.plot()

In [17]:
# movie.head(1)

In [18]:
# credits.head(1)

In [19]:
movies = movie.merge(credits, on='title')

In [20]:
# movies.head(1)

In [21]:
movies.shape

(4809, 23)

In [22]:
# movies.info()

In [23]:
movies = movies[['movie_id',  'genres', 'cast', 'title', 'keywords', 'overview', 'crew']]

In [24]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [25]:
# movies.isnull().sum()

In [26]:
movies.dropna(inplace=True)

In [27]:
movies.iloc[0].keywords

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [28]:
import ast
from ast import literal_eval
def convert(obj):
    L = []
    for i in literal_eval(obj):
        L.append(i['name'])
    return L

In [29]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
       )

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [30]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Avatar,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [31]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [32]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [33]:
# movies['cast'][0]

In [34]:
def convert_cast(obj):
    L = []
    counter = 0
    for i in literal_eval(obj):
        if counter < 3:
            L.append(i['name'])
            counter =counter +1
        else:
            break
    return L

In [35]:
movies['cast'] = movies['cast'].apply(convert_cast)

In [36]:
movies['cast'][0]

['Sam Worthington', 'Zoe Saldana', 'Sigourney Weaver']

In [37]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [38]:
# movies['crew'][0]

In [39]:
def fetch_directer(obj):
    L = []
    for i in literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
            
    return L

In [40]:
movies['crew'] = movies['crew'].apply(fetch_directer)

In [41]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Avatar,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...",[James Cameron]

In [42]:
movies['overview'] = movies['overview'].apply( lambda x : x.split() )

In [43]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",Avatar,"[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...",[James Cameron]

In [44]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ","") for i in x])
movies['overview'] = movies['overview'].apply(lambda x: [i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ","") for i in x])

In [45]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",[JamesCameron]

In [46]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [47]:
movies.head(1)

,movie_id,genres,cast,title,keywords,overview,crew,tags
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver]",Avatar,"[cultureclash, future, spacewar, spacecolony, ...","[In, the, 22nd, century,, a, paraplegic, Marin...",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."

In [48]:
new_df = movies[['movie_id', 'title',  'tags']]

In [49]:
# new_df.head(1)

In [50]:
# new_df['tags'][0]

In [51]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

C:\Users\RakeshMishra\AppData\Local\Temp\ipykernel_29012\1824047427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [52]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [53]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [54]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

C:\Users\RakeshMishra\AppData\Local\Temp\ipykernel_29012\1380776331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

In [55]:
new_df['tags']

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [56]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [57]:
def stem(text):
    y = []
    for i in text:
        y.append(ps.stem(i))
    return "".join(y)

In [58]:
new_df['tags'].apply(stem)

0       in the 22nd century, a paraplegic marine is di...
1       captain barbossa, long believed to be dead, ha...
2       a cryptic message from bond’s past sends him o...
3       following the death of district attorney harve...
4       john carter is a war-weary, former military ca...
                              ...
4804    el mariachi just wants to play his guitar and ...
4805    a newlywed couple's honeymoon is upended by th...
4806    "signed, sealed, delivered" introduces a dedic...
4807    when ambitious new york attorney sam is sent t...
4808    ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [59]:
# pip install scikit-learn

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [61]:
cv = CountVectorizer(max_features=5000, stop_words='english')

In [62]:
new_df['tags'] = new_df['tags'].fillna("")  # Replace NaN with empty strings

C:\Users\RakeshMishra\AppData\Local\Temp\ipykernel_29012\3293687836.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].fillna("")  # Replace NaN with empty strings

In [63]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [64]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [65]:
len(cv.get_feature_names_out())

5000

In [66]:
len(cv.get_stop_words())

318

In [67]:
# pip install nltk

In [68]:
# pip install pandas

In [69]:
new_df.shape

(4806, 3)

In [70]:
from sklearn.metrics.pairwise import cosine_similarity

In [71]:
similarity = cosine_similarity(vectors)

In [72]:
# sorted( list(enumerate(similarity[0])), reverse=True, key=lambda x:x[1])[1:6]
# new_df[new_df['title']=='Avatar'].index[0]

In [87]:
def recommend(movie):
    movie_index = new_df[new_df['title']==movie].index[0]
    print("movie Index",movie_index)
    print(type(similarity))
    distances = similarity[movie_index]
    print("distnace matrixc is :",similarity[0])
    movies_list = sorted(list(enumerate(distances)), reverse=True, key= lambda x: x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [89]:
recommend('Avatar')

movie Index 0
<class 'numpy.ndarray'>
distnace matrixc is : [1.         0.08740748 0.05827165 ... 0.02418254 0.02564946 0.        ]
Titan A.E.
Small Soldiers
Independence Day
Ender's Game
Aliens vs Predator: Requiem

In [75]:
new_df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

In [76]:
import pickle

In [77]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl', 'wb'))

In [93]:
pickle.dump(similarity,open('similarity.pkl', 'wb'))